li {
  display: inline;
  list-style:none;
  padding-right: 20px;
}

body {
    text-align: center;
    background-color: black;
    color:wheat
}

.footer, nav{
  flex-shrink: 0;
  padding: 20px;
}

.footer, nav {
  background: #42A5F5;
  color: white;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
}

p {
  margin: 0 0 20px 0;
} 

.content {
    text-align: left;
}

ol.custom-list li {
    display: list-item;
    list-style: decimal;
    color: white;
}

ol.custom-list {
    text-align: center;
    padding-left: 0;
    list-style: none;
    color: white;
}

ol.custom-list li {
  display: list-item;
  padding-left: 20px;
}